@font-face {
    font-family: 'Kdam Thmor';
    src: url('KdamThmor.woff2') format('woff2'),
        url('KdamThmor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

